language: erlang

os:
  - linux

otp_release:
   - 21.0
   - 20.1
   - 19.3
   - 18.3

notifications:
  email: rtb-team+travis@adroll.com

script:
  - rebar3 --version
  - erl -version
  - rebar3 compile
  - rebar3 xref
  - rebar3 eunit
  - rebar3 ct


