[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src"],
        filter => "*.erl",
        ruleset => erl_files,
        rules => [
            {elvis_style, line_length, #{limit => 120}},
            {elvis_style, nesting_level, #{level => 4}},
            {elvis_style, god_modules, #{limit => 35}},
            %% the default rule included {right, ","} and not {right, "=>"} or {left, "=>"}
            {
                elvis_style,
                operator_spaces,
                #{rules => [{right, "++"}, {left, "++"}, {right, "=>"}, {left, "=>"}]}
            },
            {elvis_style, dont_repeat_yourself, #{min_complexity => 30}}
        ]
      },
      #{dirs => ["test"],
        filter => "*.erl",
        ruleset => erl_files,
        rules => [
            {elvis_style, line_length, #{limit => 120}},
            {elvis_style, nesting_level, #{level => 4}},
            %% Variables in eunit macros are called, for instance, __V
            {elvis_style, variable_naming_convention, #{regex => "^_?_?([A-Z][0-9a-zA-Z]*)_?$"}},
            %% the default rule included {right, ","} and not {right, "=>"} or {left, "=>"}
            {
                elvis_style,
                operator_spaces,
                #{rules => [{right, "++"}, {left, "++"}, {right, "=>"}, {left, "=>"}]}
            },
            %% we want to be able to ct:pal in tests
            {elvis_style, no_debug_call, disable},
            %% we can go lighter on this one here
            {elvis_style, dont_repeat_yourself, #{min_complexity => 50}},
            %% test modules tend to be bigger
            {elvis_style, god_modules, #{limit => 50}}
        ]
      },
      #{dirs => ["."],
        filter => "*rebar.config",
        ruleset => rebar_config,
        rules => [
            %% Elixir deps use git@...
            {elvis_project, protocol_for_deps_rebar, disable}
        ]
      },
      #{dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
      }
     ]
    }
   ]
 }
].
