
{deps, [
    {proc, {git, "https://github.com/miriampena/proc.git", {tag, "v1.0.0"}}},
    {dynamic_compile, ".*", {git, "https://github.com/jkvor/dynamic_compile.git",
        {ref, "d13d29c03d321e154adffb8eaa4b88b154a811fd"}}}
  ]}.


{xref_warnings, false}.
{xref_checks, [
  undefined_function_calls,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.

