{erl_opts, [
    warn_unused_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    debug_info
]}.

{minimum_otp_vsn, "21"}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{deps, [
    {dynamic_compile, "1.0.0"}
]}.

{dialyzer, [
    {warnings, [no_return, error_handling]},
    {plt_apps, top_level_deps},
    {plt_extra_apps, [crypto, dynamic_compile]},
    {plt_location, local},
    {base_plt_apps, [erts, stdlib, kernel]},
    {base_plt_location, global}
]}.

{xref_checks,[
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{profiles, [
    {test, [
        {deps, [
            {proc, {git, "https://github.com/miriampena/proc.git", {tag, "v1.0.0"}}},
            {meck, "0.9.0"}
        ]}
    ]}
]}.

{alias, [{test, [format, lint, xref, dialyzer, eunit, ct, cover]}]}.

{plugins, [
    {rebar3_format, "~> 0.8.1"},
    rebar3_lint,
    rebar3_hex
]}.

{format, [{files, ["src/*.erl", "test/*.erl", "include/*.hrl"]}]}.
