{erl_opts,
 [warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warnings_as_errors,
  debug_info]}.

{minimum_otp_vsn, "23"}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{deps, [{dynamic_compile, "1.0.0"}]}.

{dialyzer,
 [{warnings, [no_return, error_handling]},
  {plt_apps, top_level_deps},
  {plt_extra_apps, [crypto, dynamic_compile]},
  {plt_location, local},
  {base_plt_apps, [erts, stdlib, kernel]},
  {base_plt_location, global}]}.

{xref_checks,
 [undefined_function_calls,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions]}.

{profiles, [{test, [{deps, [{proc, "1.1.1"}, {meck, "0.9.2"}]}]}]}.

{alias, [{test, [format, lint, hank, xref, dialyzer, eunit, ct, cover]}]}.

{project_plugins,
 [{rebar3_hex, "~> 6.11.7"},
  {rebar3_format, "~> 1.0.1"},
  {rebar3_lint, "~> 1.0.1"},
  {rebar3_hank, "~> 1.2.2"}]}.
